apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: netbox-prod

namePrefix: prod-

commonLabels:
  environment: prod

resources:
  - ../../base/postgres
  - ../../base/redis
  - ../../base/netbox

patches:
  # Set replicas for prod (1 due to ReadWriteOnce PVC limitation)
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: netbox

  # Update route host and service for prod
  - patch: |-
      - op: add
        path: /spec/host
        value: netbox-prod.apps.rhocp-cluster.presidiolab.local
      - op: replace
        path: /spec/to/name
        value: prod-netbox
    target:
      kind: Route
      name: netbox

  # Increase storage for prod
  - patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: "50Gi"
    target:
      kind: PersistentVolumeClaim
      name: postgres-pvc

configMapGenerator:
  - name: netbox-config
    behavior: merge
    literals:
      - ALLOWED_HOSTS=netbox-prod.apps.rhocp-cluster.presidiolab.local prod-netbox.netbox-prod.svc.cluster.local *
      - DB_HOST=prod-postgres
      - REDIS_HOST=prod-redis
      - REDIS_CACHE_HOST=prod-redis
      - DEBUG=false
