apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: netbox
  namespace: openshift-operators  # or argocd namespace
spec:
  description: NetBox IPAM and DCIM Application

  sourceRepos:
    - https://gitlab.presidio.com/rgomez/netbox-development.git  # Update with your repo URL
    - '*'

  destinations:
    - namespace: 'netbox-*'
      server: https://api.rhocp-cluster.presidiolab.local:6443

  clusterResourceWhitelist:
    - group: '*'
      kind: '*'

  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'

  roles:
    - name: developer
      description: Developer access to NetBox
      policies:
        - p, proj:netbox:developer, applications, get, netbox/*, allow
        - p, proj:netbox:developer, applications, sync, netbox/*, allow
      groups:
        - netbox-developers

    - name: admin
      description: Admin access to NetBox
      policies:
        - p, proj:netbox:admin, applications, *, netbox/*, allow
      groups:
        - netbox-admins
