apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: netbox-media-pvc
  labels:
    app: netbox
    component: application
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
